:root {
    --theme-color: #0077ff;
}
body {
    min-height: 100vh;
    margin: 0pt;
    display: flex;
    flex-direction: column;
    font-family: -apple-system, 
        BlinkMacSystemFont, 
        'Segoe UI', Helvetica, 
        Arial, sans-serif, 
        'Apple Color Emoji', 
        'Segoe UI Emoji', 
        'Segoe UI Symbol';
}
a {
    text-decoration: none;
    color: var(--theme-color);
}
a:before {
    content: '>';
}
.an-main {
    margin: 0pt 16pt;
}
.an-notebook-index-title {
    margin: 8pt 0pt;
}
.an-notebook-links {
    margin: 0pt;
    padding: 0pt;
}
.an-notebook-link {
    list-style-type: none;
    margin: 4pt 0pt;
}
.an-nav {
    margin: 0;
    padding: 12pt;
    display: flex; /* Stright flexin' on 'em' */
    background-color: var(--theme-color);
    color: white;
}
.an-nav-links {
    margin: 0pt;
    padding: 0pt;
    display: block;
}
.an-nav-link {
    margin: 10px;
    display: inline-block;
}
.an-nav-link a {
    color: inherit;
}

.CodeMirror {
    overflow-x: auto;
}

.jp-Notebook {
    margin: var(--jp-notebook-padding) 15%;
    padding: 0;
}

.an-main, .jp-Notebook {
    flex: 1;
}
.an-footer {
    margin-top: 16pt;
    padding: 16pt 15%;
    background-color: #eee;
    text-align: center;
    color: #333;
    font-style: italic;
    font-size: 10pt;
}
.an-footer-text {
    margin: 4pt 0pt;
}
.an-footer-links {
    margin: 0;
    padding: 0;
    display: block;
}
.an-footer-link {
    margin: 4pt 8pt;
    display: inline-block;
}

@media screen and (max-width: 1200px) {
    .jp-Notebook {
        margin: var(--jp-notebook-padding);
    }
    .an-footer {
        padding: 16pt;
    }
}

@media screen and (max-width: 800px) {
    /* We don't got the space to flex on mobile */
    .jp-Cell-inputWrapper,
    .jp-Cell-outputWrapper,
    .jp-InputArea,
    .jp-OutputArea,
    .jp-OutputArea-child {
        display: block;
    }
    .jp-InputPrompt,
    .jp-OutputPrompt {
        text-align: left;
    }
    .jp-RenderedHTMLCommon {
        padding: 0 var(--jp-code-padding);
    }
}
video {
    max-width: 100%;
}